<h1>Allergen Calculator</h1>
<h4> Enter a number between 1 and 255, press the button, and see what allergies you have. I realize that's a weird way to phrase this, but humor me.</h4>
<form action="/results">
  <div class="form-group">
   <input class="form-control" id="score" name="score">
 </div>
 <button class="btn btn-success" type="submit">Discover your allergies?</button>
</form>
